@font-face {
    font-family:Fepito;
    src: url(FEPITA.otf);
}
body {
    background-image: url(http://media4.giphy.com/media/WQNiSTYU9IlaErv55B/200w.webp?cid=ecf05e47jiqi0eyl7psur6j4qq3g58ma49kdz69u1gp1h46n&ep=v1_gifs_search&rid=200w.webp&ct=g);
 color: white;
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 font-family: Fepito;
 margin-bottom: 100px;
}
img {
    width: 150px;
}
.btn {
    padding: 10px 15px;
    border: none;
    background: white;   
    font-family: inherit;
    font-size: 25px;
}
span {
    border-bottom: 5px white solid;
    
}
div {
    background-color: antiquewhite;
    margin-top: 320px;
    font-size: 20px;
    padding-top: 39px;
    height: 100px;
    color: blue;
}
